</div>


<br>
<br>
<br>
<br>

<div class = "footer">

</br>    

<p style="text-align: center;"><strong>GESTIONNAIRE DE BORNES</strong></p>
<p style="text-align: center;"><strong> &#169; Kenwyz Connect</strong></p>
<p style="text-align: center;"><strong>2023</strong></p>

<!-- JQUERY CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous">
</script>

</br>

</div>

</body>

</html>
