<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;"> Edition du test </h1>
    <h3 style="text-align:center;"><a> Intitulé : </a> <%=test.name%></h3>
    <div style="width: 30%; margin: 20px auto;">
        <form id="edit" action="/tests/<%=test._id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Intitulé</label>
                <input class="form-control" type="text"  name="name" value="<%=test.name%>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description"><%=test.description%></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit" form="edit"> Mise à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        <a href="/tests">Retour aux tests</a>
    </div>
</div>

<% include ../partials/footer %>
