<!DOCTYPE html>
<html>

<head>
    <title>ANALYSE DES PRODUITS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap|Lexend+Giga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async>
    </script>
</head>

<body>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1>Bienvenue</h1>
        <h2>La réparation n'a jamais été si facile !</h2>
        <hr width="400px">
        <h3 style="color:white;">Scanner et tétécharger notre application android pour tablette</h3>
        <hr width="400px">
        <img src="https://i.imgur.com/JWoZXa2.png"/><br>
        <a href="/produits" class="btn btn-lg btn-primary">Voir tous les produits à analyser</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>
