<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;">Edition du type de produits</h1>
    <h3 style="text-align:center;"><a> Intitulé : </a> <%=type._id%></h3>
    <div style="width: 30%; margin: 20px auto;">
        <form action="/types/<%=type._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name"> Intitulé </label>
                <input class="form-control" type="text"  name="name" value="<%=type.name%>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description"><%=type.description%></textarea>
            </div>
            <p></p>
            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit" form="edit"> Mise à jour <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        <a href="/types">Retour aux types de produits</a>
    </div>
</div>

<% include ../partials/footer %>
